*{
  background-color: rgb(36, 36, 36);
}

.main{
  color:white;
  display:flex;
  flex-direction: row;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}

.main h2{
  margin-left:2em;
}