/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alphabet {
  font-size: 30px;
  color: #666;
}

.suggestions {
  margin-top: 20px;
}

.suggestions-list{
  display: flex;
  flex-direction: row;
align-items: center;
justify-content: center;
}

.suggestion {
  list-style: none;
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 18px;
  color: #333;
  transition: background-color 0.3s ease;
}

.suggestion:hover {
  background-color: #e0e0e0;
}
